@model WebHash.Models.ViewModels.MainWindowViewModel

<div>
    <div class="row" style="margin-left: 10px;">
        <div id="updateForHash">
            @Html.Partial("Partials/_HashForm", Model.CrackHash)
        </div>
        <div class="col">
            @Html.Partial("Partials/_SendFile", Model.SendFile)
            @Html.Partial("Partials/_DeleteFile", Model.DeleteFile)
        </div>
    </div>
</div>
@section Scripts {
<script src="@Url.Content("~/js/Site.js")" asp-append-version="true"></script>
<script>
     $(document).ready(function () {
        if($('#AttackMethod').val() === '0'){ 
            $("#dict1").css('display', 'block');
        }

        $('#hashForm').submit(function (e) {
            $('#loadingDiv').css('display', 'block');
            $('#hashForm').css('display','none');
        });

        $('#HashFromInput').on("change", function(){
            if($('#HashFromInput').is(":checked")){
                $("#fromFileSelect").css('display', 'none');
                $("#inputValue").css('display', 'block');
            }
            else{
                $("#fromFileSelect").css('display', 'block');
                $("#inputValue").css('display', 'none');
            }
        })

        $('#AttackMethod').on("change", function(){
            if($('#AttackMethod').val() === '0'){ //If selected straight attack
                $("#dict1").css('display', 'block');
                $("#dict2").css('display', 'none');
            }
            else if($('#AttackMethod').val() === '1'){ //If selected combination attack
                $("#dict1").css('display', 'block');
                $("#dict2").css('display', 'block');
            }
            else{
                $("#dict1").css('display', 'none');
                $("#dict2").css('display', 'none');
            }
        })

        $('#file').on("change",function () {
            $.ajax({
                url: '@Url.Action("GetHashes", "Home")',
                type: "GET",
                data: { "fileId": $("#file").val() },
                success: function (result) {
                    if(result.isEmpty != undefined && result.isEmpty != true){

                        var items = createSelect(result.hashes);
                        $("#HashFromFileId").html(items);
                    }
                },
                error: function(result){
                    alert(result.responseText)
                }
            });
        });

        $('#btnDeleteFile').on("click",function () {
            var test = $("#selectDeleteFile").val();
            $.ajax({
                url: '@Url.Action("DeleteFile", "Home")',
                type: "POST",
                data: { "id": $("#selectDeleteFile").val() },
                success: function (result) {
                    if(result.isDeleted != undefined && result.isDeleted == true){
                        console.log(result.message)
                    }
                    else if(result.isDeleted != undefined && result.isDeleted == false && result.message != undefined && result.message != null){
                        alert("File doesnt exists")
                    }
                    else{
                        alert("Error")
                    }
                },
                error: function(result){
                    alert(result.responseText)
                }
            });
        });

        $('#selectDeleteFile').on("change",function () {
            $("#Id").val($(this).val());
        });


        function getFile(id){
            var element = $('#'+id);
            if(element != null && element != undefined){
                var file = element[0].files[0];

                return file != null && file != undefined ? file : null;
            }
        }

        function createSelect(result){
            var items = '';
            var first = true;
            $(result).each(function(){
                if(first){
                items += "<option selected='selected' value=" + this.value + ">" + this.text + "</option>";
                first = false;
                }
                items += "<option value=" + this.value + ">" + this.text + "</option>";
            })
            return items;
        }

    });
</script>
}
